<div class="actions" fxLayout="row" fxLayoutGap="1rem">
    <button mat-button mat-flat-button class="button-back" (click)="return()">
        <mat-icon>keyboard_arrow_left</mat-icon>Retour
    </button>
    <ng-container *ngIf="post && me">
        <button mat-button mat-flat-button class="button-edit" *ngIf="(post && me.id === post.owner.id) || me.profile.label === 'ADMIN' || me.profile.label === 'ARCHITECT'" (click)="editPost()">
            <mat-icon>edit</mat-icon>Editer
        </button>
        <button mat-button mat-flat-button class="button-validate" *ngIf="me.profile.label === 'ADMIN' || me.profile.label === 'ARCHITECT' && !post.validated" (click)="validatePost()">
            <mat-icon>check</mat-icon>Valider
        </button>
        <button mat-button mat-flat-button class="button-unvalidate" *ngIf="me.profile.label === 'ADMIN' || me.profile.label === 'ARCHITECT' && post.validated" (click)="unvalidatePost()">
            <mat-icon>cancel</mat-icon>Invalider
        </button>
        <button mat-button mat-flat-button class="button-delete" *ngIf="me.profile.label === 'ADMIN'" (click)="deletePost()">
            <mat-icon>delete</mat-icon>Supprimer
        </button>
    </ng-container>
</div>
<div class=" divider">
</div>
<div *ngIf="post">
    <section>
        <div class="user-text">Créé par {{post.owner.username}} le {{post.createdAt | date :'short' :'UTC +1' :'fr'}}
        </div>
    </section>
    <section fxLayout="row" fxFlexAlign="center" fxLayoutGap="0.5rem">
        <h1>{{post.title}}</h1>
        <mat-icon class="icon-check" *ngIf="post.validated"> check_circle</mat-icon>
        <span *ngIf="post.validated && post.validator" class="text-user">Validé par {{post.validator.username}} le {{post.validationDate | date :'short' :'UTC +1'
            :'fr'}} </span>
    </section>
    <section>
        <mat-chip-list>
            <mat-chip *ngFor="let tag of post.tags">{{tag.label}}</mat-chip>
        </mat-chip-list>
    </section>

    <section>
        <h3>Description</h3>
        <mat-card [innerHTML]="(post.description | nl2br) || 'Pas de description'"></mat-card>
    </section>
    <section *ngIf="post && post.files && post.files.length>0">
        <h3>Fichiers</h3>
        <app-file-tree *ngIf="post.files" [files]="post.files" (fileClicked)="displaySelectedFile($event)"></app-file-tree>

        <mat-tab-group [selectedIndex]="selectedTab">
            <mat-tab *ngFor="let file of post.files" [label]="file.path">
                <div *ngIf="file && file.type==='TEXT'">
                    <pre>
                <code [highlight]="file.text ? file.text : ''"></code>
            </pre>
                </div>
                <button mat-button mat-raised-button *ngIf="file && file.type==='OTHER'" (click)="downloadFile(file)" class="button-download">
                    Télécharger le fichier <span class="filename">{{file.path}}</span>
                </button>
            </mat-tab>
        </mat-tab-group>
    </section>
</div>