<h3>Login</h3>
<mat-card>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <label>
            Identifiant:
            <input type="text" formControlName="username">
        </label>

        <label>
            Mot de passe:
            <input type="password" formControlName="password">
        </label>

        <button mat-button mat-button-raised type="submit">Se connecter</button>
        <a mat-button mat-raised-button type="button" [routerLink]="['/auth/sign-up']">Créer un compte</a>

    </form>
</mat-card>