<div class="center">
  <h3>Login</h3>
  <mat-card style="height: 300px;">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutGap="20px">

      <mat-form-field>
        <mat-label> Identifiant: </mat-label>

        <input matInput type="text" formControlName="username">
      </mat-form-field>

      <mat-form-field>
        <mat-label> Mot de passe: </mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>
      <span *ngIf="errorLoggin" class="errorLoggin">Connexion échouée, vérifiez vos identifiants ou l'accès au
        serveur.</span>

      <button mat-raised-button type="submit">Se connecter</button>
      <a mat-button type="button" [routerLink]="['/auth/sign-up']">Créer un compte</a>

    </form>
  </mat-card>
</div>