<div *ngIf="post">
    <h1>{{post.title}}</h1>

    <mat-chip-list>
        <mat-chip *ngFor="let tag of post.tags">{{tag.label}}</mat-chip>
    </mat-chip-list>

    <h3>Description</h3>
    <mat-card>{{post.description || "Pas de description"}}</mat-card>

    <h3>Fichiers</h3>
    <mat-tab-group>
        <mat-tab *ngFor="let file of post.files">
            <div *ngIf="file && file.type==='TEXT'">
                <pre>
                <code [highlight]="file.content"></code>
            </pre>
            </div>
            <a *ngIf="file && file.type==='BINARY'" (click)="downloadFile(file)">
                {{file.path}}
            </a>
        </mat-tab>
    </mat-tab-group>
</div>