<div class="page" fxLayout="column" fxLayoutAlign="stretch">
    <div class="actions" fxLayout="row" fxLayoutGap="1rem">
        <button mat-button mat-flat-button class="button-back" (click)="goBackHome()">
      <mat-icon>keyboard_arrow_left</mat-icon>Retour
    </button>
        <ng-container *ngIf="me">
            <button mat-button mat-flat-button class="button-save" *ngIf="(post && me.id === post.owner.id) || me.profile.label === 'ADMIN' || me.profile.label === 'ARCHITECT' || state==='CREATE'" (click)="savePost()">
        <mat-icon>save</mat-icon>Enregistrer
      </button>
            <button mat-button mat-flat-button class="button-validate" *ngIf="me.profile.label === 'ADMIN' || me.profile.label === 'ARCHITECT' && state==='EDIT'" (click)="validatePost()">
        <mat-icon>check</mat-icon>Valider
      </button>
            <button mat-button mat-flat-button class="button-delete" *ngIf="me.profile.label === 'ADMIN'" (click)="deletePost()">
        <mat-icon>delete</mat-icon>Supprimer
      </button>
        </ng-container>
    </div>
    <div class="divider">
    </div>
    <div class="post-form">
        <form [formGroup]="postForm" fxLayout="column" fxFlexAlign="center" fxLayoutGap="1rem">
            <span class="user-text" *ngIf="state==='EDIT' && post">Créé par {{post.owner.username}} le {{post.createdAt | date
        :'short' :'UTC +1' :'fr'}}
      </span>
            <span class="user-text" *ngIf="state==='EDIT' && post && post.validated">
        <mat-icon class="icon-check" *ngIf="post.validated"> check_circle</mat-icon>
        Validé par {{post.validator.username}} le {{post.createdAt | date :'short' :'UTC +1' :'fr'}}
      </span>
            <mat-form-field>
                <mat-label>Titre</mat-label>
                <input matInput formControlName="title">
            </mat-form-field>

            <app-autocomplete-chips placeholder="Ajouter une tag..." label="Tags" [elements]="existingTags" [limit]="TAG_LIMIT" [service]="serviceTag" (newElementEvent)="addTag($event)" (removeElementEvent)="removeTag($event)"></app-autocomplete-chips>

            <mat-form-field class="description-textarea">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description" [matTextareaAutosize]="true" [matAutosizeMinRows]="10" style="background-color: #eeeeee; border-radius: 0.5rem;"></textarea>
            </mat-form-field>

            <div>
                <h3>Fichiers</h3>
                <app-file-tree *ngIf="files.value" [files]="files.value" (fileClicked)="displaySelectedFile($event)">
                </app-file-tree>

                <div fxLayout="row" fxLayoutAlign="start center">
                    <form [formGroup]="addTabForm" (ngSubmit)="addFileTab()" fxFlex="30">
                        <div fxLayout="column" fxLayoutGap="1rem">

                            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" formControlName="tabType">
                                <mat-button-toggle (click)="tabTypeClick( 'TEXT')" value="TEXT">Texte</mat-button-toggle>
                                <mat-button-toggle (click)="tabTypeClick( 'OTHER')" value="OTHER">Autre (zip,exe...)</mat-button-toggle>
                            </mat-button-toggle-group>

                            <mat-form-field *ngIf="addTabForm.get( 'tabType')?.value==='TEXT'">
                                <mat-label>Nom du fichier à ajouter (format /path/to/file.ext)</mat-label>
                                <input matInput formControlName="tabName">
                            </mat-form-field>

                            <button mat-button mat-raised-button type="submit">Ajouter un fichier </button>
                        </div>
                    </form>
                    <span fxFlex="10"></span>

                </div>
                <div fxLayout="row wrap" fxLayoutGap="1rem" style="margin: 1rem 0 1rem 0;">
                    <ng-container *ngFor="let file of files.value ;let i=index">
                        <span *ngIf="file.type==='OTHER' && !file.deleted">
              {{file.name}}
              <mat-icon class="example-tab-icon" class="delete-file" (click)="deleteFile(i)">cancel</mat-icon>
            </span>
                    </ng-container>
                </div>
                <mat-tab-group formArrayName="files" [selectedIndex]="selectedTab">
                    <ng-container *ngFor="let file of files.controls; let i=index" [formGroupName]="i">
                        <mat-tab [label]="file.value.name" *ngIf="file.value.type==='TEXT' && !file.value.deleted">
                            <ng-template mat-tab-label>
                                {{file.value.path}}
                                <mat-icon class="example-tab-icon" class="delete-tab" (click)="deleteFile(i)">cancel</mat-icon>
                            </ng-template>
                            <div>
                                <mat-form-field class="description-textarea">
                                    <textarea matInput formControlName="text" [matTextareaAutosize]="true" [matAutosizeMinRows]="50" style="background-color: #eeeeee; border-radius: 0.5rem;" (change)="fileContentChanged(i)"></textarea>
                                </mat-form-field>
                            </div>
                        </mat-tab>
                    </ng-container>
                </mat-tab-group>
            </div>
        </form>
    </div>
</div>