.button-download {
    margin: 3rem;
}

.filename {
    font-weight: bold;
}

.text-user {
    font-style: italic;
}

section {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.divider {
    margin: 2rem 1rem 2rem 1rem;
    border-top: 0.1rem solid #bbb;
}

.icon-check {
    color: #6eb16d;
}

.button-back {
    background-color: #b1b1b1;
}

.button-save {
    background-color: #508ee0;
}

.button-delete {
    background-color: #cf5d5d;
}

.button-validate {
    background-color: #6eb16d;
}