.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.footer-header-content {
    width: 100%;
    background-color: black;
    height: 2rem;
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.content {
    flex: 1 0 auto;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: #f2f2f2;
}

footer {
    flex-shrink: 0;
}

h2 {
    margin-left: 2rem;
}