<div class="center">
    <h3>S'enregistrer</h3>
    <mat-card fxLayout="column" fxLayoutAlign="center" fxLayoutGap="1rem">
        <app-sign-up-form (formSubmit)="userFormSubmitted($event)"></app-sign-up-form>
        <span class="error" *ngIf="errorSignUp">{{errors}}</span>
        <a mat-button type="button" (click)="onCancel()">Annuler</a>
    </mat-card>
    <div *ngIf="signupSucceeded">
        Votre compte a été créé avec succès, vous pouvez désormais retourner sur <a [routerLink]="['../login']">  l'écran de connexion</a> pour vous connecter.
    </div>
</div>